body {
  background-color: teal;
  color: whitesmoke;
}

#size {
  background-color: violet;
}

#meat {
  background-color: violet;
  padding: auto;
  margin: auto;
}

#veggies {
  background-color: violet;
  padding: auto;
  margin: auto;
}

#cheese {
  background-color: violet;
  padding: auto;
  margin: auto;
}